@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #1a2236;
  margin: 0;
}

header {
  text-align: center;
  height: 100px;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
}

h1 {
  margin: 0;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
}

h4 {
  font-weight: 300;
  font-size: 10.3334px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

section li {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

footer {
  background: #1a2236;
  text-align: center;
}

footer ul {
  margin: 0;
}

textarea,
input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }

  32% {
    color: var(--color-1);
  }

  33% {
    color: var(--color-2);
  }

  65% {
    color: var(--color-2);
  }

  66% {
    color: var(--color-3);
  }

  99% {
    color: var(--color-3);
  }

  100% {
    color: var(--color-1);
  }
}

.showcase-name {
  display: flex;
  flex-direction: column;
}

.toggle {
  padding: 19px 14px;
}

.menu {
  display: none;
}

.primary-btn {
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
}

.primary-btn-2 {
  display: flex;
  margin: 20px 0;
  border: 1px solid #fff;
  padding: 16px 0 16px 16px;
  width: 53%;
  color: #fff;
}

.showcase_text .primary-btn {
  background: #1a2236;
  text-align: center;
  padding: 12px 42px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container #logo {
  height: 74px;
  left: -2px;
  top: 0;
  border-radius: 0;
}

.right_arrow {
  display: block;
  width: 20.57px;
  height: 15.35px;
  margin: 3px 0 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#tagline {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 30px;
}

.showcase {
  display: flex;
  flex-direction: column;
}

.showcase_text {
  display: flex;
  flex-direction: column;
  padding: 0 14px 0 16px;
}

.showcase_img {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.showcase_img_desktop {
  display: none;
}

.dots_img {
  display: none;
}

.image-geometry-1 {
  display: none;
}

.image-geometry-2 {
  display: none;
}

.image-geometry-4 {
  display: none;
}

.image-geometry-5 {
  display: none;
}

.works {
  margin: 0;
}

.work-card {
  display: flex;
  flex-direction: column;
}

.work-card-first {
  display: flex;
  flex-direction: column;
}

.work-card-text {
  background: #1a2236;
  color: #fff;
  padding: 7px 0 0 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: -4px;
}

.work-card #tagline {
  padding-top: 20px;
  padding-left: 16px;
}

.work-card-first #tagline {
  padding-top: 20px;
  padding-left: 16px;
}

.work-card #lang {
  color: #1a2236;
  background: #98dede;
  text-align: center;
  width: 90px;
  height: 20px;
  margin: 3px 10px 3px 0;
  padding: 3px 10px;
}

.work-card-first #lang {
  color: #1a2236;
  background: #98dede;
  text-align: center;
  width: 90px;
  height: 20px;
  margin: 3px 10px 3px 0;
  padding: 3px 10px;
}

.lang-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.arrow_desktop {
  display: none;
}

.arrow_mobile {
  display: block;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-intro {
  display: flex;
  flex-direction: column;
}

.about .primary-btn {
  display: flex;
  flex-direction: row;
  background: #1a2236;
  padding: 12px 42px;
  justify-content: center;
  margin-top: 6px;
}

.about #tagline {
  margin-bottom: 6px;
}

.about_cards {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  gap: 16px;
}

.about_card_blue {
  display: grid;
  background: #1c528a;
  padding: 20px 0 0 40px;
}

.about_card_red {
  display: grid;
  background: #e2505c;
  padding: 20px 0 0 40px;
}

.about_card_yellow {
  display: grid;
  background: #febf52;
  padding: 20px 0 0 40px;
}

#about_card_title {
  padding: 0 0 0 20px;
  margin-bottom: 0;
}

.about_card_icon {
  align-self: end;
  justify-self: end;
  width: 60px;
  height: 60px;
}

.about_cards h3 {
  font-weight: 800;
  color: #fff;
}

.dots_img_teal {
  display: none;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 0 14px 0 18px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.contact-label {
  margin-top: 6px;
  font-weight: 400;
  font-size: 10px;
  color: #7d7c84;
}

.get-started-text {
  margin: 0 14px 0 18px;
}

.get-started #logo {
  height: 74px;
}

.get-started #logo_desktop {
  display: none;
}

.image-geometry_7 {
  display: none;
}

.input {
  padding: 23px 0 8px 16px;
  color: #1a2236;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

input:focus {
  border: 1px solid #1a2236;
}

.contact .primary-btn {
  margin: 20px 0;
  background: #1a2236;
  text-align: center;
  padding: 12px 42px;
  border: none;
}

.primary-btn:hover {
  box-sizing: border-box;
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.primary-btn:active {
  box-sizing: border-box;
  background: #fff;
  color: #1a2236;
  border: 2px solid #1a2236;
}

.primary-btn-2:hover {
  box-sizing: border-box;
  background: #fff;
  color: #1a2236;
  padding: 16px 0 16px 16px;
}

.primary-btn-2:active {
  box-sizing: border-box;
  background: #fff;
  color: #1a2236;
  padding: 16px 0 16px 16px;
}

.footer-text .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 28px 0;
  color: #92dcdc;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 28px 28px 28px;
}

.social-icons li {
  list-style-type: none;
}

.lang-container li {
  list-style-type: none;
}

.ic_link {
  margin-left: 10px;
  height: 22px;
  width: 22px;
}

.social-icon {
  height: 24px;
  width: 24px;
}

.work-card:nth-child(6) .lang-container .lang_mobile {
  display: block;
}

.work-card:nth-child(6) .lang-container .lang_desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .toggle,
  #logo {
    display: none;
  }

  .menu {
    display: flex;
  }

  a {
    color: #1a2236;
  }

  header a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
  }

  .active::after {
    width: 80%;
    background: #1a2236;
  }

  header ul {
    list-style-type: none;
    margin: 38px 0;
  }

  li {
    font-size: 16px;
  }

  .menu-item {
    display: flex;
    padding: 0;
    gap: 50px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .showcase_text {
    margin: 192px 0 0 140px;
    gap: 20px;
  }

  .showcase_text .primary-btn {
    width: 240px;
    padding: 22px;
    font-size: 18px;
  }

  .showcase_img {
    display: none;
  }

  .showcase_img_desktop {
    display: flex;
    padding-left: 50px;
    width: 100%;
  }

  .showcase_text .dots_img {
    display: block;
    align-self: flex-end;
    width: 160px;
    height: 160px;
    margin-right: -80px;
  }

  #tagline {
    font-size: 110px;
    line-height: 100%;
  }

  .works .work-card-first #tagline {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    margin: 0;
  }

  .work-card-first .dots_img {
    display: block;
    justify-self: end;
    width: 160px;
    height: 160px;
  }

  .work-card-display .work-card-text {
    margin-top: 170px;
  }

  .work-card-display .work-card-text h3 {
    font-size: 50px;
  }

  .laptop-1 {
    display: none;
  }

  .work-card-first .work-card-display {
    background: url(./assets/img/laptop.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .work-card-first {
    margin: 210px 0 0 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
  }

  .work-card:nth-child(3) .work-card-text {
    display: none;
  }

  .work-card:nth-child(3) {
    width: 80%;
    height: 465px;
    grid-column: 1 / span 2;
    margin-top: -60px;
  }

  .work-card:nth-child(4) {
    margin-top: -51px;
    margin-left: -180px;
    width: 100%;
    grid-column: 3;
    grid-row: 3;
  }

  .work-card:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
    margin-top: -130px;
  }

  .work-card:nth-child(6) {
    background: url(./assets/img/laptop\ 6.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    height: 60%;
  }

  .work-card-grid .work-card:nth-child(1) {
    margin-top: 126px;
  }

  .work-card:nth-child(4) .work-card-text {
    display: none;
  }

  .work-card:nth-child(5) .work-card-text {
    display: none;
  }

  .work-card:nth-child(6) .work-card-text {
    margin-top: 60px;
  }

  .work-card:nth-child(6) .work-card-text h3 {
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .work-card-grid .work-card:nth-child(1) .work-card-text {
    display: none;
  }

  .work-card:nth-child(6) .lang-container li:last-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .work-card:nth-child(6) .lang-container .lang_mobile {
    display: none;
  }

  .work-card:nth-child(6) .lang-container .lang_desktop {
    display: block;
  }

  .work-card .laptop {
    display: none;
  }

  .work-card-grid {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 4px;
  }

  .image-geometry-1 {
    display: block;
  }

  .image-geometry-2 {
    margin-top: -314px;
    display: block;
    grid-column: 3 / 3;
    grid-row: 3;
    max-width: 100%;
  }

  .image-geometry-4 {
    display: block;
    width: 87.69px;
    height: 87.71px;
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    margin-right: 178px;
    margin-top: -50px;
  }

  .image-geometry-5 {
    display: block;
    width: 211.7px;
    height: 124.04px;
    grid-column: 1;
    grid-row: 3;
    margin-top: -50px;
  }

  .primary-btn-2 {
    display: flex;
    flex-direction: row;
    background: #fff;
    color: #1a2236;
    margin-top: 40px;
    width: 212px;
  }

  .primary-btn-2:hover {
    background: #1a2236;
    color: #fff;
    margin-top: 40px;
    width: 212px;
  }

  .right_arrow_black {
    display: flex;
    width: 50%;
    height: 50%;
    margin: 3px 0 0 10px;
  }

  .right_arrow {
    display: none;
  }

  .about {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 0 80px;
  }

  .about-intro {
    width: 30%;
    order: 2;
  }

  .about-intro .primary-btn {
    display: flex;
    flex-direction: row;
    width: 70%;
  }

  .about_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }

  .about_cards .dots_img_teal {
    display: block;
    width: 80%;
    height: 80%;
    align-self: flex-end;
    justify-self: end;
    margin: 0 -60px -60px 0;
  }

  .get-started {
    margin-top: 100px;
    background: #f9f9fa;
  }

  .get-started .get-started-text {
    margin: 0 230px;
    display: flex;
    flex-direction: column;
  }

  .get-started form {
    margin: 0 230px;
  }

  .contact {
    display: grid;
    gap: 35px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
  }

  .contact .form-control:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .contact .form-control:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .contact .primary-btn {
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-self: center;
    width: 50%;
    height: 30%;
  }

  .get-started #logo_desktop {
    display: block;
    height: 20%;
    width: 20%;
  }

  .get-started #logo_mobile {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
  }

  .footer-text .footer-link {
    display: flex;
    flex-direction: row;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 40px;
  }

  .image-geometry_7 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .image-geometry_7 img {
    width: 20%;
    height: 20%;
    margin-top: -200px;
  }

  .arrow_desktop {
    display: block;
  }

  .arrow_mobile {
    display: none;
  }

  .showcase-name {
    display: grid;
    place-items: center;
    text-align: center;
  }
}
